# PlatformIO
.pio/
build/

# VS Code local settings
.vscode/

# Release
*.zip

# Windows
Thumbs.db
Desktop.ini

# Backup
*.bak
*.tmp

# Video files
*.mp4

# Ignore embedded Git backups created during submodule cleanup
firmware/.git-embedded-backup/

archive/
*.zip
*.7z
*.rar
